@import '../common.scss';
.wrapper {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $dark-bg;
  color: $btn-color;
  font: 500 24px/24px Inter;
  width: 100%;
  z-index: 1;
  padding: 16px;
  justify-content: space-between;
}
