@import "./common.scss";
$main-background: #cecece;
* {
  box-sizing: border-box;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
  background-color: $main-background;
}

#root,
body {
  height: 100vh;
  width: 100%;
}

@media (max-width: 460px) {
  ul {
    display: none;
  }
}
